-- List your LSP configurations. Since each machine might install them
-- from different sources and there's no need to include all of them
-- on every machine, it's better to do it this way.
-- This file is ignored by the repository.

-- Configs for lua
-- require('lspconfig').lua_ls.setup({
--     settings = {
--         Lua = {
--             runtime = {
--                 version = 'LuaJIT',
--             },
--             diagnostics = {
--                 enable = false, -- use selene only
--             },
--             workspace = {
--                 library = vim.api.nvim_get_runtime_file('', true),
--                 checkThirdParty = false,
--             },
--             telemetry = {
--                 enable = false,
--             },
--         },
--     },
-- })

-- Configs for HTML/CSS/JavaScript/TypeScript as well as tailwindcss
-- require('lspconfig').tsserver.setup({})
-- require('lspconfig').html.setup({})
-- require('lspconfig').cssls.setup({})
-- require('lspconfig').tailwindcss.setup({})
-- require('lspconfig').eslint.setup({})

-- Configs for GDScript
-- require('lspconfig').gdscript.setup({})
