# This first line the one that sets the settings on ~/dotfiles/zsh
source $HOME/dotfiles/zsh/configs.sh

# You can add anything you want to this file, it's not included in the
# dotfiles repository
# alias my_alias="some command"
